<section id="login">
	<header id="login-header">
		alpha 论文管理系统
	</header>
	<div id="login-main">
		<form>
			<div class="login-forms-container">
				<div class="form-row form-row-username">
					<input type="text" id="inputUsername" placeholder="用户名">
				</div>
				<div class="form-row form-row-password">
					<input type="password" id="inputPassword" placeholder="密码">
				</div>
			</div>
			<button id="login-submit-button" {{action tryLogin href=true}}>
				登陆
			</button>
			<div class="login-options-container">
				<label class="checkbox">
					<input id="login-remember-me" type="checkbox"> 下次自动登陆
				</label>
				<a id="login-forget-button" href="mailto:theses.nfsysu@gmail.com">忘记密码?</a>
			</div>
		</form>
	</div>
</section>