<h4>{{desc}}</h4>
<a class="upload-cancel" {{action remove target="view"}}><i class="icon-remove"></i></a>
<span>{{view.progress}}%</span>
<div class="progress progress-striped active">
	 	<div class="bar" {{bindAttr style="view.progressBarStyle"}}></div>
</div>