
                    <form novalidate="" autocomplete="on" class="update-profile"> 
                        <div class="yield" style="padding-top:20px">
                            <fieldset class="reset-password title-remark">
                                <div class="control-group">
                                    {{view Theses.ScoreField valueBinding="articleScore" title="论文分数："}}
                                </div>
                                <div class="control-group">
                                    {{view Theses.ScoreField valueBinding="oralScore" title="答辩分数："}}
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        <label>评价：</label>
                                    </div>
                                    <div class="controls">
                                        {{view Ember.TextArea style="height: 109px; float: right; width: 187px; margin: 0px 0px 10px;" valueBinding="comment"}}
                                    </div>
                                </div>
                            </fieldset>
                        </div> 
                        <footer> 
                            <button type="submit" class="blue submit" {{action submit target="view" href=true}}>
                                <span>更新分数</span>
                            </button> 
                        </footer> 
                    </form>