
                    <form novalidate="" autocomplete="on" class="update-profile"> 
                        <div class="yield" style="padding-top:20px">
                            <fieldset class="reset-password">
                                <div class="control-group">
                                    <div class="control-label">
                                        <label>论文分数：</label>
                                    </div>
                                    <div class="controls">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        <label>答辩分数：</label>
                                    </div>
                                    <div class="controls">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        <label>评价：</label>
                                    </div>
                                    <div class="controls">
                                        <textarea type="text" style="height: 109px; float: right; width: 187px; margin: 0px 0px 10px;"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </div> 
                        <footer> 
                            <button type="submit" class="blue submit" {{action submit target="view" href=true}}>
                                <span>更新分数</span>
                            </button> 
                        </footer> 
                    </form>